@font-face {
  font-family: 'SF_HambakSnow';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'twayfly';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayfly.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.slick-active {
  z-index: 8;
}

.twayfly {
  font-family: 'twayfly';
  font-size: 1.2rem;
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.btn-style {
  color: white;
  border: 0;
  height: 5rem;
  padding: 0 30px;
  align-self: center;
  background: #ff4a6b;
  box-shadow: 0 3px 5px 2px rgb(255 105 135 / 30%);
  margin-top: 5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  @media screen and (min-width:768px) and (orientation: landscape) {
      font-size: 1.8rem;
  }
}

.btn-style:hover {
  background: #fffdc7;
  color: #ff4a6b;
  box-shadow: 0 3px 5px 2px rgb(255 105 135 / 30%);
}

.title-style {
  display: block;
  color: #595858;
  text-align: center;
  font-size: 1.5rem;
  @media screen and (min-width:768px) and (orientation: landscape) {
      font-size: 1.8rem;
  }
}

  /* background: linear-gradient(to right,  #ff4a6b 30%,#fffdc7 100%); */
.gradient-underline {
    font-family: 'twayfly';
    font-size: 1.2rem;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    width: 100%;
}
.gradient-underline::after {
  /* background: #ff4a6b; */
  background: linear-gradient(to right, #ff4a6b 30%, #fffdc7 100%);  
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  height: 2px;
  width: 103%;
}

.gradient-underline-title {
  font-family: 'twayfly';
  font-size: 1.8rem;
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.gradient-underline-title::after {
    /* background: #ff4a6b; */
    font-family: 'SF_HambakSnow';
    background: linear-gradient(to right, #ff4a6b 30%, #fffdc7 100%);  
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 103%;
 }

.unique-transparent-btn {
  color: #595858;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  @media screen and (min-width:768px) and (orientation: landscape) {
      font-size: 1.8rem;
  }
}
  /* #ff4a6b  #fffdc7 */

.circle-btn {
  color: #595858;
  text-align: center;
  text-decoration: none;
  box-shadow: fffdc7 3px;
  position: relative;
  /* @media screen and (min-width:768px) and (orientation: landscape) {
      font-size: 1rem;
  } */
}


.MuiSvgIcon-root {
  /* width: 5em !important;   */
  height: 2em !important;
}

.vertical {
  margin-top:10%;
}

.fbtn {
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
  transition:.3s;
}

.fbtn:hover {
  opacity: 0.2;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.btn > a {
  color: #fff !important;
  border-color: #ff4a6b !important;
}
