
.btn-style {
  color: white;
  border: 0;
  height: 5rem;
  padding: 0 30px;
  font-size: 1.2rem;
  align-self: center;
  background: #ff4a6b;
  box-shadow: 0 3px 5px 2px rgb(255 105 135 / 30%);
  margin-top: 5rem;
  border-radius: 10px;
  font-size: 1.5rem;
}
.btn-style:hover {
  background: #fffdc7;
  color: #ff4a6b;
  box-shadow: 0 3px 5px 2px rgb(255 105 135 / 30%);
}
.title-style {
  display: block;
  color: #595858;
  text-align: center;
  font-size: 1.8rem;
  @media screen and (min-width:768px) and (orientation: landscape) {
      font-size: 2.0rem;
  }
}