@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url("style/fonts/NotoSansKR-Light.woff2") format('woff2'),
  url("style/fonts/NotoSansKR-Light.woff") format('woff'),
  url("style/fonts/NotoSansKR-Light.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url("style/fonts/NotoSansKR-Regular.woff2") format('woff2'),
  url("style/fonts/NotoSansKR-Regular.woff") format('woff'),
  url("style/fonts/NotoSansKR-Regular.otf") format('truetype')
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  src: url("style/fonts/NotoSansKR-Medium.woff2") format('woff2'),
  url("style/fonts/NotoSansKR-Medium.woff") format('woff'),
  url("style/fonts/NotoSansKR-Medium.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url("style/fonts/NotoSansKR-Bold.woff2") format('woff2'),
  url("style/fonts/NotoSansKR-Bold.woff") format('woff'),
  url("style/fonts/NotoSansKR-Bold.otf") format('truetype')
}

@font-face {
  font-family: 'twayfly';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayfly.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

div {
  font-family: 'twayfly';
  background-color: #fff;
}

body {
  font-family: 'Noto Sans CJK KR', sans-serif;
}

.app {
  animation: fadein 1500ms ease-out;
  -webkit-animation: fadein 1500ms ease-out; 
}